@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
#errorFirstName, #errorLastName, #errorEmail, #errorPassword, #errorPhone {
    display: none;
}

#errorCompleteFirstName,  #errorCompleteLastName, #errorCompleteEmail, #errorCompletePassword, #errorCompletePhone, #errorCompleteAddress {
    display: none;
}

.formulario_input-validate {
	color: #1ed12d;
	opacity: 1;
}

.formulario_input-noValidate {
	color: #bb2929;
    opacity: 1;
    border: 5px solid #bb2929;
}

